body
{
	background-color: #cbf3c0;
}

#container
{
	background-color: #c3f8b1;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
	display: flex;
	justify-content: space-around;
	padding-top: 5vh;
	padding-bottom: 5vh;
}


input[type="number"]
{
	background-color: #c3f8b1;
	width: 40px;
	height: 40px;
}

input[type="text"]
{
	background-color: #c3f8b1;
	width: 5px;
	height: 25px;
}

select
{
	background-color: #c3f8b1;
	width: 38px;
	height: 47px;
}

input[name="signe"]
{
	background-color: #c3f8b1;
	width: 40px;
	height: 10px;
}

.signe input[type="text"]
{
	background-color: #c3f8b1;
	width: 45px;
	height: 10px;
}

.signe select
{
	background-color: #c3f8b1;
	width: 48px;
	height: 34px;
	margin-right: 38px;
}

#bouton
{
	background-color: #c3f8b1;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
	padding-top: 2vh;
	padding-bottom: 2vh;
	margin-top: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#rep
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#para
{
	background-color: #c3f8b1;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
	padding-top: 10px;
	padding-left: 10px;
	width: min-content;
	margin-top: 15vh;
	font-size: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lign
{
	display: flex;
	flex-direction: row;
}

.pos
{
	width: 30px;
	margin-right: 10px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

.taille
{
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	border-radius: 10px;
	box-shadow: 5px 5px 5px grey;
	width: 100px;
	padding: 14px;
	/* margin-bottom: 15vh; */
}

.taille input
{
	height: auto;
	width: auto;
}

.ligne
{
	box-shadow: 5px 5px 5px #a8c6bb;
}

input[type="button"]
{
	background-color: #c3f8b1;
	box-shadow: 2px 2px 2px grey;
	font-size: 1.5rem;
}

